body {
    font-family: sans-serif;
    line-height: 1.4;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
}


.container h1 {
  font-size: px;   
  font-weight: 700;  
}


main.container {
    flex: 1;
}



header {
  height: 420px;          
  background-color: #000; 
}

header img {
  width: 100%;       
  height: 100%;      
  object-fit: fill; 
}


.footer {
    background-color: #333;
    color: #fff;
}


 /* Product list */

.product-list {
  display: flex;
  flex-wrap: wrap;     /* allows wrapping on smaller screens */
  gap: 3rem;         /* space between albums */
}

.product {
  max-width: 200px;    /* control width of each album card */
}

.product img {
  width: 100%;
  height: auto;
  display: block;
}




 /* Switch */

.mode-toggle {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.mode-toggle input {
    display: none;
}

.mode-toggle .slider {
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 999px;
    position: relative;
    transition: background 0.2s;
}

.mode-toggle .slider::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background: #fff;
    transition: transform 0.2s;
}

/* when checked */
#mode-toggle:checked + .slider {
    background: #5274a1; /* or one of your theme colors */
}

#mode-toggle:checked + .slider::before {
    transform: translateX(20px);
}



